      <div class= "bg-divgray grid grid-cols-3">
         <%= image_tag("logo.png") %>
         <div class="text-white text-4xl flex justify-center pt-8 space-x-10">
             <%= link_to "Home", pages_index_path, class: "flex" %>
             <%= link_to "About", pages_about_path, class: "flex" %>
             <% if user_signed_in? %>
                <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
             <% else %>
                <%= link_to "Sign in", pages_signin_path, class: "flex" %>
            <% end %>
         </div>
      </div>